.customer{
 
// .wrapper{
   
// }

.image__wrap{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}




.img__grid{
position: relative;

.fw1{
width: 100%;
}

h6{
color: $white;
position: absolute;
top: 72%;
right: 10%;
bottom: 2%;
font-size: 1.5rem;}
}

@include breakpoint-up(large){
.image__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-left: 0;
    margin-right: 0;
}


.img__grid{
position: relative;

.fw1{
    // width: calc(58% - 3.25rem);
// width: 100%;
height: 100%;
// padding-right: 3rem;
}

h6{
color: $white;
position: absolute;
top: 92%;
right: 14%;
bottom: 2%;
font-size: 1.5rem;}


}

}












.im__grid2{

.company-size p{
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem 0.2rem;
}
.img-grid2{
    order: 2;
    position: relative;
}
    .fw2{
    width: 100%;
    
    }
h6{
    color: $white;
    position: absolute;
    top: 74%;
    left: 4%;
    // bottom: 2%;
    font-size: 1.5rem; } 
} 




@include breakpoint-up(large){
    .im__grid2{
      display: flex;
      flex-direction: column-reverse;
    //   padding-left: 3rem;
     
        .company-size p{
            font-size: 1.3rem;
            line-height: 2.5rem;
            padding: 4rem 16rem 0  0;
        }

        .img-grid2{
            order: 2;
            // height: 50rem;
        }
            .fw2{
            // width: 100%;
            margin-top: -20rem;
            // position: absolute;
            height: 50rem;
        }
        h6{
            color: $white;
            position: absolute;
            top: 74%;
            left: 4%;
            // bottom: 2%;
            font-size: 1.5rem; } 
        
        } 
        
        
}
    
    

   








   
     
    

}