// colors
$black: #000;
$textblack:#262c55;
$orange: #fb9129;
$darkblue: #0a0e27;
$green: #35a162;
$lightblue:#6672c7;
$white:#fff;
$lightpink:#eb7da7;
$lightgreen:#00abab;


// font-size
$font-sm:0.6875rem; //11px
$font-md:0.875rem;  //14px